<mat-drawer-container class="side-navbar-container" autosize>
    <mat-drawer #drawer mode="side" opened="true" class="side-navbar">
        <mat-nav-list>
            <button class="drawer-button" (click)="drawer.toggle()">
                <i class="bi bi-chevron-left"></i>
            </button>
            <div class="list-sections">
                <a mat-list-item routerLink="/dashboard" routerLinkActive="activebutton" [routerLinkActiveOptions]="{exact:
                    true}">
                    <div class="list-containers">
                        <i class="bi bi-house-door"></i>
                        <span>Dashboard</span>
                    </div>
                </a>
                <a mat-list-item routerLink="/orders" routerLinkActive="activebutton">
                    <div class="list-containers">
                        <div class="badge-container">
                            <i class="bi bi-list-task"></i>
                            <span>Orders</span>
                            <span matBadgeOverlap="false" class="badge-style">{{userData.orders}}</span>
                        </div>
                    </div>
                </a>
                <a mat-list-item routerLink="/products" routerLinkActive="activebutton">
                    <div class="list-containers">
                        <i class="bi bi-tag flipped-horizontal"></i>
                        <span>Products</span>
                    </div>
                </a>
                <a mat-list-item routerLink="/categories" routerLinkActive="activebutton">
                    <div class="list-containers">
                        <i class="bi bi-folder"></i>
                        <span>Categories</span>
                    </div>
                </a>
                <a mat-list-item routerLink="/customers" routerLinkActive="activebutton">
                    <div class="list-containers">
                        <i class="bi bi-people"></i>
                        <span>Customers</span>
                    </div>
                </a>
                <a mat-list-item routerLink="/reports" routerLinkActive="activebutton">
                    <div class="list-containers">
                        <i class="bi bi-bar-chart-line"></i>
                        <span>Reports</span>
                    </div>
                </a>
                <a mat-list-item routerLink="/coupons" routerLinkActive="activebutton">
                    <div class="list-containers">
                        <i class="bi bi-star"></i>
                        <span>Coupons</span>
                    </div>
                </a>
                <a mat-list-item routerLink="/inbox" routerLinkActive="activebutton">
                    <div class="list-containers">
                        <i class="bi bi-chat-left-text"></i>
                        <span>Inbox</span>
                    </div>
                </a>
            </div>
            <div class="list-sections">
                <p class="side-navbar-text">Other information</p>
                <a mat-list-item routerLink="/knowledge-base" routerLinkActive="activebutton">
                    <div class="list-containers">
                        <i class="bi bi-question-circle"></i>
                        <span>Knowledge Base</span>
                    </div>

                </a>
                <a mat-list-item routerLink="/product-updates" routerLinkActive="activebutton">
                    <div class="list-containers">
                        <i class="bi bi-award"></i>
                        <span>Product Updates</span>
                    </div>
                </a>
            </div>
            <div class="list-sections">
                <p class="side-navbar-text">Settings</p>
                <a mat-list-item routerLink="/personal-settings" routerLinkActive="activebutton">
                    <div class="list-containers">
                        <i class="bi bi-person"></i>
                        <span>Personal Settings</span>
                    </div>
                </a>
                <a mat-list-item routerLink="/global-settings" routerLinkActive="activebutton">
                    <div class="list-containers">
                        <i class="bi bi-gear"></i>
                        <span>Global Settings</span>
                    </div>
                </a>
            </div>
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
        <button class="drawer-button" (click)="drawer.toggle()">
            <i class="bi bi-chevron-right"></i>
        </button>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>