@use '../../theme' as *;
@use '../../variables' as vars;
@use '@angular/material' as mat;

.side-navbar-container {
  height: 100%;
  border: 1px solid #ecdcdc;

  .mat-drawer {
    width: 240px;
  }

  .mat-drawer-content {
    padding: 20px;
  }
}

.side-navbar {
  background-color: var(--background-primary, #eceff1);
}

.mat-drawer-content {
  background-color: var(--background-primary, #eceff1);
}

.side-navbar-text {
  font-size: small;
  color: rgb(197, 189, 203);
  margin-left: 16px;
}

.list-sections {
  margin-bottom: 3rem;
}

.list-sections a[mat-list-item] i {
  padding-right: 1rem;
}

.list-containers {
  display: flex;
  align-items: center;
}

.flipped-horizontal {
  transform: scaleX(-1) translateX(45%);
}

.drawer-button {
  border: none;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
  padding: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.drawer-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.activebutton {
  background-color: mat.get-color-from-palette($custom-primary, 800);

  span {
    color: vars.$accent-contrast;
  }

  i {
    color: gray;
  }
}

.mat-badge-content {
  background: black !important;
  color: white !important;
  border-radius: 10px !important;
  padding: 0 6px !important;
}

.badge-container {
  display: flex;
  align-items: center;
  position: relative;

  .badge-style {
    margin-left: 8px;
    background: black;
    color: white;
    border-radius: 10px;
    padding: 0 6px;
    font-size: 0.75rem;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 20px; 
    margin-left: 72px;
  }
}

@media screen and (max-width: 959px) {
  .drawer-button {
    display: inline-flex;
  }

  .list-sections a[mat-list-item] {
    height: 2rem;
    font-size: 1rem;
  }
}

@media screen and (min-width: 960px) {
  .drawer-button {
    display: none;
  }

  .list-sections a[mat-list-item] {
    height: 2.5ren;
    font-size: 1.5rem;
  }
}