@use 'theme' as *;
@use 'variables' as vars;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');
@import "bootstrap-icons/font/bootstrap-icons.css";

:root {
  --nav-height: 70px;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: var(--background-primary, #eceff1);
}

.bi {
  font-size: 1.5rem;
}

.mat-mdc-tab-body-wrapper {
  flex: 1 1 100%;
}