<div id="user-profile">
    <button mat-icon-button class="lrgScreen-items">
        <i class="bi bi-chat-left-text"></i>
    </button>
    <button mat-icon-button class="lrgScreen-items">
        <div [matBadge]="userData.notifications" matBadgeSize="medium">
            <i class="bi bi-bell"></i>
        </div>
    </button>
    <button *ngIf="userData.imageUrl; else defaultIcon" class="profile-image-button lrgScreen-items">
        <img [src]="userData.imageUrl" alt="Profile" class="profile-image">
    </button>
    <ng-template #defaultIcon>
        <button mat-icon-button class="profile-image-button lrgScreen-items">
            <i class="bi bi-person-circle"></i>
        </button>
    </ng-template>
    <p class="username lrgScreen-items">{{userData.name}}</p>
    <button mat-icon-button [matMenuTriggerFor]="userMenu" class="lrgScreen-items">
        <i class="bi bi-chevron-down"></i>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="userMenu" class="smlScreen-items">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #userMenu="matMenu">
        <button mat-menu-item class="smlScreen-items">Profile</button>
        <button mat-menu-item class="smlScreen-items">Notifications</button>
        <button mat-menu-item class="smlScreen-items">Chat</button>
        <button mat-menu-item>Settings</button>
        <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
</div>
